
.message {
  padding: 10px !important;
  border-radius: 10px !important;
  margin-bottom: 4px !important;
  white-space: pre-wrap;
}

.my-message {
  background:#7C96AB;
  color: #fff;
}

.other-message {
  background: #3C486B;
  color: #fff;
}

.time {
  color: #dfdfdf;
  float: right;
  font-size: small;
}



ion-toolbar[color=s] {
  --ion-color-base: #3C486B;
  // --ion-color-base-rgb: 255, 0, 0;
}
cdk-virtual-scroll-viewport {
  height: 100%;
  width: 100%;
}
